body {
	width: 100%;
	margin: 0 auto;
	background-color: #f9f9f9;
	font-size: 13px;
}
.header{background-color: #fff;padding: 2px 0;}
.back_btn {
	background-color: transparent !important;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 30px;
}
/*.am-icon-angle-left{font-weight: normal !important;}*/
.title {
	float: left !important;
	font-size: 17px;
	line-height: 2.4;
	text-align: center;
}

.login_img img {
	width: 100%;
}
.content{
	background-color: #fff;
}
.phone{
	padding: 10px 5px;
}
input{
	border: none;outline: none;
	color: #999;font-size: 15px;
}
.username{
	display: inline-block;
	width: 30px;
	height: 24px;
	background-image: url(../images/username.png);
	background-repeat: no-repeat;
	background-size: 14px auto;
	background-position: center center;
}
.password_box{
	padding: 10px 5px;
}
.i_password{
	display: inline-block;
	width: 30px;
	height: 24px;
	background-image: url(../images/password.png);
	background-repeat: no-repeat;
	background-size: 14px auto;
	background-position: center center;
}

.btn_box{
	/*padding-top: 10px;*/
	padding: 25px 10px 0;
	
}
.login_btn {
	padding-top: 5px;
	padding: 10px;
	background-color: #cecece;
	color: #fff;
	border-radius: 4px;
	border: none;
	font-size: 0.875rem;
	outline: none;
}
.login_btn.active{
	background-color: #77bc1f;
}
.tips{
	margin-top: 15px;
}
.tips a{
	color: #333333;font-size: 100%;
}
.judge{
	background-color: #999;padding:10px;
	position: fixed;left: 50%;bottom:100px;
	transform:translateX(-50%);border-radius: 4px;
	display: none;
}