body{
	background-color: #f9f9f9;
}
.header{
	height: 43px;background-color: #fff;
	text-align: center;line-height: 43px;
	font-size: 17px;color: #000;
}
ul{
	list-style: none;padding-left: 0;margin-bottom: 0;
}
.first>li{
	display: flex;justify-content: space-around;
	padding-top: 10px;
}
.first>li>div{
	width: 33.3%;flex-grow:1;margin-right: 10px;
}
.first>li>div:nth-child(1){
	margin-left: 10px;
}

img{
	width: 100%;
}
.last{
	margin-top: 10px;
}
.last>li{
	display: flex;justify-content:flex-content;
}
.last>li>div{
	width: 30%;margin-left: 10px;
}
.last>li>div>img{
	width: 100%;
}

/*页脚*/
.foot {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 46px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	z-index: 100;
	background-color: #fff;
}

.foot .item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.foot .item span {
	font-size: 20px;
}

.foot .item .info {
	font-size: 12px;color: #333;
}
/*.foot .item.active {
	color: #77bc1f;
}*/
.foot .item.active>div {
	color: #77bc1f;
}
.foot>.item>i{
	display: inline-block;
	height: 30px;width: 100%;
	background-size: 21px auto;
	background-repeat: no-repeat;
	background-position: center;
}
.icon-home{
	background-image: url('../images/icon-home.png');
}
.icon-classfity{
	background-image: url('../images/icon-classify-active.png');
	
}
.icon-privilege{
	background-image: url('../images/icon-privilege.png');
	
}
.icon-cart{
	background-image: url('../images/icon-cart.png');
	
}
.icon-profile{
	background-image: url('../images/icon-profile.png');
}
.shopping{
	position: relative;
}
.badge{
	display: inline-block;
	width: 16px;height: 16px;
	background-color: #ff9601;
	color: #fff;border-radius: 50%;
	position: absolute;right: 0;top:0;
	text-align: center;line-height: 16px;
	font-size: 12px!important;
	opacity: 0;
}